* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #1b1b1b;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left .logo h3 {
    color: #f3c737;
}

header .header-left nav {
    margin-left: 750px;
}

header .header-left nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    color: #f3c737;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}



header .header-right {
    display: flex;
    align-items: center;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

section {
    background-color: #42d0e9;
    height: 400px;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

section .container .profile {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    /* tambahkan properti text-align: center */
}

section .container .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    /* tambahkan properti margin: 0 auto */
}

section .container h1 {
    text-align: center;
    color: #000000;
}

section .container h5 {
    text-align: center;
    color: #000000;
}

section .container p {
    text-align: center;
    color: #000000;
}

article {
    height: 550px;
}

article h1 {
    padding: 20px;
}

article .container {
    display: flex;
    flex-wrap: wrap;
}

article .container .card {
    width: 350px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    flex-direction: row;
}

article .container .card img {
    width: 330px;
    height: 150px;
    position: absolute;
    border-radius: 10px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article .container .card h4 {
    margin-top: 170px;
    text-align: center;

}

article .container .card p {
    top: 70%;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

}

article .container .card .selengkapnya {
    margin-left: 10px;
    margin-top: 5px;
    width: 300px;
    height: 30px;
    background-color: #42d0e9;
    align-items: center;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
}

article .container .sidebar {
    margin-left: 20px;
}


@media only screen and (max-width: 1150px) {
    header {
        padding: 0 20px;
    }

    header .header-right .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 0px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }

    header .header-left nav.active {
        top: 70px;
    }

    header .header-left nav ul {
        display: block;
    }

    article .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article .container .card {
        flex-basis: 30%;
        margin: 20px;
        width: 350px;
        height: 370px;
    }

    article .container .card img {
        width: 280px;
        height: 150px;
        position: absolute;
        border-radius: 10px;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    article .container .selengkapnya {
        margin-right: 10px;

    }

    article .container .sidebar {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 20px 0;
    }

    section .container .profile {
        width: 100%;
    }


}

@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }

    header .header-right .login-signup {
        display: none;
    }

    section .container .profile {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    article .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article .container .card {
        flex-basis: 30%;
        margin: 20px;
    }

    article .container .sidebar {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 20px 0;
    }

    section .container .profile {
        width: 100%;
    }
}