/* Nota */
header .navbar .container-fluid a{
    font-family: 'segoe script';
	color: #ffcc26;
}
header .navbar .container-fluid img:hover{
    background-color: #ffcc26;
    border-radius: 100px;
}
section{
    padding-top: 20px;
}
section .container h2{
    text-align: center;
}
section .container .card{
    border-radius: 30px;
    height: 600px;
    margin-top: 10px;
}
section .container .card h3{
    padding-top: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
section .container .card h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
section .container .card a{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
section .container .card iframe{
    margin-left: 45px;
}
section .container table{
    width: 500px;
    margin-left: 10px;
}
section .container table thead tr th{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
section .container table tbody tr td{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
section .container table tfoot tr td{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}

/* Playlist */

section{
    padding-top: 20px;
}
section .container h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
section .container .playlist .card {
    border-radius: 30px;
    height: 920px;
    margin-top: 10px;
}
section .container .playlist2 .card {
    border-radius: 30px;
    height: 640px;
    margin-top: 10px;
}
section .container .playlist .card h3{
    padding-top: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/* Awal Footer  ALL*/
footer{
    padding: 1px;
    background-color: black;
    width: 100%;
    height: 100xpx;
    margin-top: 50px;
}

footer .container .sosmed .row .col a{
    padding-bottom: 10px;
}
footer .container h4 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

footer .container h6 {
    margin-top: 0px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/* Akhir Footer ALL*/

/* Form */

section{
    padding-top: 20px;
}
section .container .form .card{
    height: 730px;
    font-family: 'Times New Roman', Times, serif;
}